/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Jan, 2016, 6:12:31 PM
    Author     : Alivenow
*/

.about
{
    height: 85vh;
    background: #FFFFFF;
    position: relative;

    .daniya
    {
        height: 100vh;
        margin-left: -15px;
    }

    .desp
    {
        padding: 10px 50px 0px 50px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
    }

    
}