.home_footer
{
    background: $pink-color;
    min-height: 100px;
    width: 100%;

    .menu
    {
        list-style: none;
        padding: 0px;
        padding-top:10px;

        li
        {
            float: left;
            a
            {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 16px;
                color: #FFFFFF;
                margin-right: 30px;
            }

        }
    }

    p
    {
        margin-top: 40px;
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .social
    {
        padding: 0px;
        list-style: none;

        li
        {
            float: right;

            a
            {
                color: #FFFFFF;
                font-size: 40px;
                margin-left: 20px;
                line-height: 100px;
            }
        }
    }
}

.footer-bar{
    line-height: 50px;
	background-color: #D02C3D;
}

.line-box{
	list-style:none;
	padding-left:0px;
	li{
		display:inline-block;
		width: 130px;
		height: 130px;
		border: 2px dashed #FFFFFF;
		line-height: 130px;
		border-radius: 50%;
		color: #FFFFFF;
		margin:5px;
		i{
			font-size: 45px;
			margin: 16px;
		}
	}
}

.faq{
	text-align:left;
	
	
	@media (min-width: 992px){
		padding-left : 155px;
	}
	@media (max-width: 640px){
		padding-left : 15px;
	}
	.head{
		color: #FFFFFF;
		font-size:22px;
	}
	ul{
		color: #FFFFFF;
		font-size:18px;
	}
}