<div class="recipe_modal" style="background-image: url(img/{{recipedata.image}})">
    <div class="">
        <div class="col-md-offset-5 col-md-7 left_box" style="overflow:auto">
            <div class="top_box">
                <a href="#" class="close" ng-click="cancel()"><span class="ion-close-round"></span></a>
                <p class="title">{{recipedata.name}}</p>
                <div class="row">
                    <div class="col-md-4">
                        Serves: <Strong>{{recipedata.servings}}</strong>
                    </div>
                    <div class="col-md-4">
                        Time: <strong>{{recipedata.time.time}}</strong>
                    </div>
                </div>

                <p class="desp">{{recipedata.description}}</p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingredients</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Steps</a></li>
                </ul>
                
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
				<ul class="hidden-xs btn-float btn-float-popup">
					<a href="view_recipe/{{recipedata.id}}"><li class="thumbs"><i class="fa fa-thumbs-up"></i> {{recipedata.like_count.length}}</li></a>
					<a href="view_recipe/{{recipedata.id}}"><li class="comments"><i class="fa fa-comments"></i> {{recipedata.comments.length}}</li></a>
					<a href="http://www.facebook.com/sharer.php?u=www.savjikitchen.com/view_recipe/{{ $recipedata.id}}&t={{ $recipedata.name }}"  onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><li class="share"><i class="fa fa-share"></i></li></a>
				</ul>
                <div role="tabpanel" class="tab-pane active" id="home">
                    <ul>
                        <li ng-repeat="ingredient in recipedata.ingredients">{{ingredient.quantity}} {{ingredient.measure.name}} {{ingredient.name}}</li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <ol>
                        <li ng-repeat="instruction in recipedata.instructions">{{instruction.instruction}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>